# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual Environments
venv/
.venv/
env/

# Environment Variables
.env

# VS Code
.vscode/

# Ruff
.ruff_cache/

# Pytest
.pytest_cache/

# OS
.DS_Store
Thumbs.db

# Logs
*.log

# Build
dist/
build/

# Python packaging
*.egg-info/

# Coverage
.coverage
htmlcov/